/* Styles pour l'animation de reveal */
.reveal-preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  will-change: clip-path;
  overflow: hidden;
  z-index: 9999;
}

.reveal-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  transform: scaleX(0);
  transform-origin: left;
  will-change: transform;
}

.reveal-preloader-images {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 25rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  will-change: clip-path;
  overflow: hidden;
}

.reveal-preloader-images .img {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  will-change: clip-path;
  overflow: hidden;
}

.reveal-preloader-images .img img {
  position: relative;
  width: 100%;
  height: 100%;
  transform: scale(2);
  will-change: transform;
  object-fit: cover;
}

.reveal-preloader-copy {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
}

.reveal-preloader-copy p {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 550;
}

.reveal-preloader-header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(60svh);
  transform-origin: top;
  will-change: transform;
  z-index: 9999;
}

.reveal-preloader-header a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 7.5rem;
  font-weight: 600;
  line-height: 0.9;
  display: block;
}

.reveal-hero {
  position: relative;
  width: 100%;
  height: 100svh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  overflow: hidden;
}

.reveal-header-row {
  margin-bottom: 2rem;
}

.reveal-header-row h1 {
  text-transform: uppercase;
  font-size: 8rem;
  line-height: 1;
  letter-spacing: -0.5rem;
  margin-bottom: 1rem;
}

.reveal-divider {
  position: relative;
  width: 100%;
  height: 1.5px;
  transform: scaleX(0);
  background-color: rgba(0, 0, 0, 0.2);
  will-change: transform;
}

.reveal-preloader-header a .char,
.reveal-preloader-copy p .line,
.reveal-header-row h1 .line {
  position: relative;
  display: inline-block;
  transform: translateY(0);
  will-change: transform;
}

/* Responsive */
@media (max-width: 1000px) {
  .reveal-header-row h1 {
    font-size: 2rem;
    letter-spacing: 0;
  }

  .reveal-preloader-images {
    top: 35%;
    width: 10rem;
    height: 10rem;
  }

  .reveal-preloader-copy {
    width: 80%;
  }

  .reveal-preloader-header {
    transform: translateY(50svh);
  }

  .reveal-preloader-header a {
    font-size: 4rem;
  }
}
